#!/usr/bin/make -f

LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS+=-Wl,--as-needed -Wl,-O1

export DEB_BUILD_HARDENING=1

CMD=$(shell echo $@ | sed 's/override_//')

LIBWEBKIT_PKG=$(shell dpkg-query -p libwebkitgtk-3.0-dev | grep Depends | sed -r 's/.*(libwebkitgtk[^ ]+).*/\1/')
#LIBWEBKIT_PKG="libwebkitgtk-3.0-0"
GTKLAUNCHER=$(shell dpkg-query -L $(LIBWEBKIT_PKG) | grep GtkLauncher)
DISTRO=$(shell lsb_release -is)
CONFIG_FILE=debian/config/$(DISTRO).h
ifneq (0, $(shell test -e $(CONFIG_FILE); echo "$$?"))
	DISTRO=Debian
endif

DEBIAN_DIST_VERSION:= $(shell lsb_release -sr)
CONFIGURE_FLAGS=
# libzeitgeist-dev on Oneiric is too old
ifeq (,$(11.10,$(DEBIAN_DIST_VERSION)))
	CONFIGURE_FLAGS += --disable-zeitgeist
endif

%:
	dh $@

debian/presubj: debian/presubj.in
	@echo "presubj parameters:"
	@echo "Replacing %LIBWEBKIT_PKG% with $(LIBWEBKIT_PKG)"
	@echo "Replacing %GTKLAUNCHER% with $(GTKLAUNCHER)"
	test -f "/var/lib/dpkg/info/$(LIBWEBKIT_PKG).list" || true
	test -f "$(GTKLAUNCHER)" || true
	test -n "$(GTKLAUNCHER)" || true
	sed -e "s,%LIBWEBKIT_PKG%,$(LIBWEBKIT_PKG),g" -e "s,%GTKLAUNCHER%,$(GTKLAUNCHER),g" $@.in > $@

override_dh_install: debian/presubj
	$(CMD) --fail-missing

override_dh_auto_clean:
	make clean || true
	rm -rf _build

override_dh_auto_configure:
	./configure --prefix=/usr --enable-gtk3 --enable-granite $(CONFIGURE_FLAGS)

override_dh_auto_build:
	make

override_dh_auto_test:
	xvfb-run make check || true

override_dh_auto_install:
	make install DESTDIR=../debian/tmp
	rm -f debian/tmp/usr/share/doc/midori/COPYING debian/tmp/usr/share/doc/midori/TRANSLATE
#	install -m 0644 debian/$(DISTRO)-config debian/tmp/etc/xdg/midori/config

PRIORITY=$(shell sed -r -e '/DEBIAN_WWW_ALTERNATIVES_PRIORITY/ !d' -e 's/.* ([^ ]*)$$/\1/' $(CONFIG_FILE))

debian/midori-granite.postinst: debian/midori-granite.postinst.base
	sed "s/DEBIAN_WWW_ALTERNATIVES_PRIORITY/$(PRIORITY)/g" debian/midori-granite.postinst.base > debian/midori-granite.postinst

override_dh_installdeb: debian/midori-granite.postinst
	$(CMD)

override_dh_strip:
	$(CMD) --dbg-package=midori-granite-dbg

override_dh_installchangelogs:
	rm -f debian/midori/usr/share/doc/midori/ChangeLog
	dh_installchangelogs ChangeLog
